apiVersion: v1
kind: Secret
metadata:
  name: rebot-app-secret
type: Opaque
data:
  discord-token: <discord-token-base64>
  geonames-username: <geonames-username-base64>
  owm-api-key: <owm-api-key-base64>